<!-- Loop over each object in the projects array -->
{{#each posts}}
  <div class="row mb-4 post">
    <div class="col-md-5">
      <h2><a href="/posts/{{post.id}}">{{post.title}}</a></h2>
      <p>{{content}}</p>
      <p>{{user_id}}
        1{{user_id.name}}
        2{{user_id.user}}
        3{{name}}
        -
        {{dateCreated}}</p>
    </div>
    <div>
      <h3>
        Comments:
      </h3>
      {{#each comments}}
        <div class="col-md-7">
          <p> {{content}}</p>
        </div>
        <div>
          <p>{{user.name}} - {{dateCreated}}</p>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}